<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="APP_NAME" source="spring.application.name" defaultValue="notification-service"/>

    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"${APP_NAME}"}</customFields>
            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</timestampPattern>
            <timeZone>UTC</timeZone>
            <fieldNames>
                <timestamp>@timestamp</timestamp>
                <version>[ignore]</version>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
        </encoder>
    </appender>

    <appender name="CONSOLE_PLAIN" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [${APP_NAME},%X{traceId:-},%X{spanId:-}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="docker,prod,staging">
        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>
        </root>
        <logger name="org.hibernate.SQL" level="WARN"/>
        <logger name="org.springframework.amqp" level="INFO"/>
        <logger name="com.chatsever" level="DEBUG"/>
    </springProfile>

    <springProfile name="default,dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE_PLAIN"/>
        </root>
        <logger name="org.hibernate.SQL" level="DEBUG"/>
        <logger name="com.chatsever" level="DEBUG"/>
    </springProfile>
</configuration>
